yay/
xsettingsd/
xfce4/
Thunar/
qtvirtualkeyboard/
QtProject/
pulse/
procps/
obsidian/
mozilla/
matplotlib/
marimo/
libreoffice/
JetBrains/
gtk-3.0/
gtk-4.0/
go/
glab-cli/
github-copilot/
gh/
Electron/
teams/
AusweisApp/
discord/
dconf/
Code - OSS/
Code/
clangd/
autostart/
QtProject.conf
pavucontrol.ini
mimeapps.list
.qmlformat.ini
